<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href=""><%= link_to 'Home', root_path %></a>
    <a href="/#about">About</a>
    <a href="/#portfolio">Our Team</a>
    <a href="/#approach">Solution</a>
  </div>
</div>

<nav id="mainNav" class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">

            <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag "logo-main.png", height: "40px" %></a>
            <span id="nav-icon" style="font-size:35px;cursor:pointer" onclick="openNav()"><i class="fa fa-bars" style="color:white;"></i></span>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<section id="manifesto">
    <div class="container">
      <h2>Manifesto</h2>
      <h3 class="man-subhead">"Developing Future Skills in the Global South"</h3>

      <br>
      <br>

      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 text-centered">
          <p>At Humanitarian Code, we have two primary and related goals:</p>
          <ol>
            <li>Help equip people in developing countries with the technical skills that are in demand from the knowledge economy;</li>
            <li>Generate sufficient profits to scale our operations, incentivise our staff, and attract talent to help achieve Goal 1.</li>
          </ol>


          <h3>The implications of intelligent machines and the transition to the knowledge economy in the Global South</h3>
          <br>
          <p>
            Knowledge has become currency in the global economy. The knowledge economy is elevating Information as the primary source of value, superseding material resources from our Industrial past. This is because Information feeds and defines intelligent machines.
          </p>
          <h3>
            'Intelligent Machines' or 'Artificial Intelligence' refers to a non-organic autonomous entities that are able to sense and act upon an environment to achieve specific goals. Intelligent agents may also learn or use knowledge to achieve these goals, which are governed by algorithms that are made by people.
          </h3>
          <p>
            And it’s these intelligent technologies that leverage human knowledge, which help us to achieve more.
          </p>
          <p>
            So, as human knowledge is supplemented by intelligent machines, more humans are becoming a function of their ability to interact with intelligent machines. Therefore, equipping people with technical skills is of growing importance.
          </p>
          <p>
            Particularly important are the technical skills that enable people to build, manage, and improve the software and hardware powering intelligent machines. This includes skills such as software development and robotics, which are the core focus areas of Humanitarian Code. But it equally extends to areas such as Data Analysis, Human-Computer Interaction, or other technical disciplines helping steer intelligent technologies. Ultimately, it’s technical skillsets such as these that enhance human knowledge and help unlock idle capacity.
          </p>
          <p>
            However, these technical disciplines demand high levels of skill. They require training and preparation, often with a strong foundation in Science, Technology, Engineering and Mathematics (STEM). As the demand for high-skilled labour outpaces lower-skilled work, industry is unable to meet these demands because people aren’t upskilling fast enough. This is concerning because lower skilled jobs are at the greatest risk of automation.
          </p>
          <p>
            There are two central problems underlying these labour market dynamics:
          </p>
          <ol>
            <li>The majority of lower skilled workers live in the Global South;</li>
            <li>
              Not nearly enough is being done to upskill and prepare workers in the Global South for the demands of the knowledge economy
            </li>
          </ol>
          <p>
            The implications of widespread skill shortages are significant. Income inequality will rise; social unrest will ensue; and entire populations could lose their opportunity to contribute. While this dystopian outlook is intentionally hyperbolic, there are early signs that this is already happening.
          </p>

          <h3>It doesn’t have to be this way. This doesn’t have to be our future.</h3>

          <p>
            Through systematic education and training we can raise the hidden talents and untapped potential of the Global South. However, it will require a different conception of how skills are developed and education is delivered. We’ll need a strategy that follows a demand-led approach, which engages industry as central partners in the design and delivery of skills education. A movement away from the tired education model of ‘credentialing’, and a reorientation towards in-demand skill acquisition. Governments and International Institutions are central to helping facilitate these solutions.
          </p>

          <p>
            At Humanitarian Code, we’re determined to help people in the Global South develop technical skills, which are in demand now and in the future. We focus on three main skill areas:
          </p>

          <ol>
            <li>
              <span style="font-weight:bold;">Software Development</span>, by learning to code;
            </li>
            <br>
            <li>
              <span style="font-weight:bold;">Engineering Design</span>, by learning to design and build objects through 3D printing;
            </li>
            <br>
            <li>
              <span style="font-weight:bold;">Entrepreneurship and work readiness</span>, by training and mentoring our students to use these skills to start a business, transition into work, or pursue further education.
            </li>
          </ol>

          <h2>Our Approach</h2>

          <p>
            Humanitarian Code focus on two key technical skills that underlie intelligent machines, and in conjunction with the ‘softer’ skills that help prepare our students for the future of work. While our focus is on youth aged 14-24 years in the Global South, we necessarily adapt our curriculum and delivery based on contextual needs.
          </p>

          <p>
            The overview of our curriculum is built around the following high-demand skills area:
          </p>

          <p>
            Software Development: Students learn the requirements to become a full-stack web developer by building their own web applications. We cover the design process for building applications from scratch and equip our students with the software development skills of:
          </p>
          <ul>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Command line and Git</li>
            <li>SQL</li>
            <li>Bootstrap</li>
            <li>JavaScript & JQuery</li>
            <li>React</li>
          </ul>

          <div class="man-image">
            <img src="<%= asset_path 'brain.png' %>" alt="3D printer">
          </div>



          <p>
            Engineering Design - 3D printing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <div class="man-image">
            <img src="<%= asset_path '3D-printer.png' %>" alt="3D printer">
          </div>


          <p>
            Entrepreneurship and work readiness: After having progressed the technical capacity of our students, we focus on implementing these skills in the labour market or further education. We help our students launch projects to become businesses, further their skills to gain employment, or connect them to further education. We do this over a 12 month period of project-based learning, Industry mentorship, and systematic guidance and feedback through our developing global community.
          </p>

          <p>
            Humanitarian Code delivers its courses typically over a 24 month period through a deliberate mixture of face-to-face intensive workshops and online courseware. By doing so, our students achieve three main learning objectives:
          </p>

          <ol>
            <li>
              <span style="font-weight:bold;">A portfolio of work demonstrating skills:</span> We believe technical skill acquisition is one the of the most important, and missing, areas of education and workforce preparation. But securing high-skilled work requires more than just ‘acquiring’ the skills; students need to be able to demonstrate their skills to prospective employers. So, we use project-based learning techniques to enable our students to build technical products and services, and at the same time construct a demonstrable portfolio of skills. Some students want to build businesses around these projects, others want to demonstrate their skills to prospective employers or pursue further education. The goals of each student are different, but we help them figure it out.
            </li>
            <li>
              <strong>Development of meta-skills to excel in the knowledge economy:</strong> Less measurable but no less significant are the meta-skills of abstract thinking, which are demanded in the knowledge economy. We teach our students evidence-based learning techniques to help them adapt to new technologies, to think critically when examining problems, and methods to enhance creativity.
            </li>
            <li>
              <strong>Development of meta-skills to excel in the knowledge economy:</strong> Less measurable but no less significant are the meta-skills of abstract thinking, which are demanded in the knowledge economy. We teach our students evidence-based learning techniques to help them adapt to new technologies, to think critically when examining problems, and methods to enhance creativity.
            </li>
            <li>
              <strong>Entrepreneurial skills and a professional network:</strong> Our goal here is to help facilitate a confidence of self-sufficiency. In conjunction with demonstrated skills, our students are supported to develop the practical skills of starting a business, navigating job markets, or pursuing further education. We do this through intensive courseware, building a supportive alumni network, and also connecting our students to Industry partners for professional mentorships. These various points of support help our students to build careers in the knowledge economy.
            </li>
          </ol>

          <p>
            Finally, the implementation of Humanitarian Code courses involve 3 main phases, which typically occurs over a 24 month period.
          </p>


                  <img class="man-image2" src="<%= asset_path 'phases-graphic.png' %>" alt="phases graphic">





          <ol>
            <li>
              <strong>Phase 1 - In-Country Contextual Analysis and Pilot (3 months):</strong> Having had extensive experience of working in developing countries, we are mindful of the importance to tailor our courses based on contextual needs. That’s why we always conduct a contextual analysis of the operating region with key stakeholders to determine base-level knowledge, education infrastructure, learning objectives, and labour market dynamics. However, this isn’t just passive research. We deliver a series of pilot courses to targeted students to help collect data, which informs the course materials and delivery needs.
            </li>
            <br>
            <li>
              <strong>Phase 2 - Scaled Implementation, Course Delivery & Training of Teachers(9 - 10 months):</strong> This is where we focus on building the technical capacities of our students. Delivered through intensive face-to-face workshops and online courseware, our students learn the foundational skills underlying Software Development and Robotics. As they progress through this course delivery phase, the students are increasingly given project-based learning tasks. This section of the course culminates with a Capstone project, whereby students choose their own project (with our assistance) and develop the product or service using their technical skills. During this period we work with local professionals selected training them to implement and teach the course using the online learning platform. This gives us the ability to move onto the next country leaving a program that the given country will continue to use.
            </li>
            <br>
            <li>
              <strong>Phase 3 - Transitioning to Entrepreneurship, work, or further education (12 months):</strong> After graduating from the Humanitarian Code course, we assist students to achieve their professional goals. We do this by running intensive and practical workshops on ‘How to Start a Business’, ‘How to Navigate Job Markets’, and ‘Choosing the Best Education Path for You’, plus more. We’re also starting an online Humanitarian Code Alumni network, so students can build their professional connections and potentially collaborate on projects. Finally, we’re establishing a professional network of Industry Partners to provide ongoing, personalised mentoring to our students. The goal here is to connect Humanitarian Code students in the Global South with highly-skilled, working professionals to provide advice and support to the students, over a 12 month period.
            </li>
          </ol>

          <p>
            While this work alone won’t ‘solve the problem’, it will demonstrate that with careful planning and a focus on skill acquisition, we can systematically prepare youth in the Global South for the future of work.
          </p>

        </div>

      </div>




    </div>
</section>
